<div style="height: 13vh;"></div>

<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center padding-5-t-b">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Devenir locataire</h1>
  <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100 padding-5-l-r-none-small">Découvrez nos biens disponibles en location.</h4>
  </div>
</div>


<!-- CTA qui vient se positionner sur la div verte -->


<div class="d-flex justify-content-center margin-top-1-6">
  <a href="https://www.seloger.com/professionnels/agences-immobilieres/paris-3eme-75/agency-54698.htm" target="_blank"><div class="button-crimson2 box-shadow-two-black">
    <h5 class="m-0 font-weight-500">Voir nos annonces</h5>
  </div></a>
</div>

<div class="my-5"></div>

  <div class="row p-5">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <%= link_to asset_path('fiche_renseignement_Alexis_Boubkeur.xls') do %>
      <div class="p-3 text-center background-color-warm-black text-white h-100 vertical-align-center">
        Fiche renseignement Alexis Boubkeur
      </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <%= link_to asset_path('fiche_renseignement_Audrey_Gérard.xls') do %>
      <div class="p-3 text-center background-color-warm-black text-white h-100 vertical-align-center">
        Fiche renseignement Audrey Gérard
      </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <%= link_to asset_path('fiche_renseignement_Brandon_NACASS.xls') do %>
      <div class="p-3 text-center background-color-warm-black text-white h-100 vertical-align-center">
        Fiche renseignement Brandon Nacass
      </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <%= link_to asset_path('Liste_dossier_complet.docx') do %>
      <div class="p-3 text-center background-color-warm-black text-white h-100 vertical-align-center">
        Liste pour dossier complet
      </div>
      <% end %>
    </div>
  </div>

<div class="padding-5-l-r-m-5-l-r pt-5 min-height-65vh" style="background-image: url('<%= image_path "republique.png" %>'); background-size: cover; background-position: center; position: relative;">
  <%= render "messages/contact_form", mail: @mail, titre: @titre %>
</div>
