<div style="height: 13vh;"></div>

<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center padding-5-t-b">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Gestion locative</h1>
  <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100 small-text-line-height padding-5-l-r-none-small">GLF prend en charge la globalité de la gestion locative de votre bien : recherche de locataires, négociation des renouvellements, signature des baux, quittancement, régularisation des charges, suivi des travaux, suivi des contentieux ... </h4>
  </div>
</div>

<!-- CTA qui vient se positionner sur la div verte -->


<div class="d-flex justify-content-center margin-top-1-6">
  <div class="button-crimson2 box-shadow-two-black">
    <h5 class="m-0 font-weight-500">Proposer un bien</h5>
  </div>
</div>

<!-- texte photo -->

<div class="my-5">
  <%= render 'textphotoglf2' %>
</div>

<!-- div avec les cases -->

<div class="my-5 margin-5-l-r py-5">
  <div class="row">
      <div class="col-md-4 col-sm-6 text-center padding-5-l-r pb-4">
        <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
          <div class="row my-4">
            <div class="col-md-12">
              <div class="float-left card-img-top">
                <%= image_tag "support.png", style: "width: 70px; height: 70px;" %>
              </div>
            </div>
          </div>
          <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Conseil et représentation</h4>
          <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4 small-text-line-height">Conseils pour vos démarches fiscales et représentaion auprès des notaires et des administrations.</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center padding-5-l-r pb-4">
        <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
          <div class="row my-4">
            <div class="col-md-12">
              <div class="float-left card-img-top">
                <%= image_tag "building.png", style: "width: 70px; height: 70px;" %>
              </div>
            </div>
          </div>
          <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Assurance</h4>
          <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4 small-text-line-height">L’assurance de loyers impayés pour 2,2% du loyer.</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center padding-5-l-r pb-4">
        <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12">
            <div class="float-left card-img-top">
              <%= image_tag "paint-roller.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
          <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Travaux</h4>
          <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4 small-text-line-height">Le suivi technique de vos travaux, avec des artisans partenaires et les meilleures prestations aux tarifs négociés.</h5>
        </div>
      </div>
  </div>
</div>

<!-- div avec la case l'équipe -->

<div class="my-5 margin-5-l-r pb-5">
  <div class="row padding-5-l-r-m-5-l-r">
      <div class="col-md-12 col-sm-12 padding-5-l-r py-5 background-color-cases box-shadow-two-black">
        <div class="row">
          <div class="col-md-2">
            <div class="float-left card-img-top">
              <%= image_tag "teamwork.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
          <div class="col-md-10">
            <h3 class="text-color-warm-black py-3 mb-0">Une équipe dédiée</h3>
            <h4 class="text-color-outer-space font-weight-400 pt-2 pb-4 small-text-line-height">Chaque propriétaire dispose d’une équipe dédiée composée de 5 personnes, pour que vous ayez toujours un interlocuteur qui connaisse votre dossier qui vous réponde.</h4>
          </div>
          <div class="col-md-12 text-color-outer-space basile">
            <ul class="flexteam justify-content-between" id="listbullet">
              <li><span class="font-weight-100 bullet-font">Assistante de gestionnaire</span></li>
              <li><span class="font-weight-100 bullet-font">Gestionnaire</span></li>
              <li><span class="font-weight-100 bullet-font">Principal</span></li>
              <li><span class="font-weight-100 bullet-font">Comptable</span></li>
              <li><span class="font-weight-100 bullet-font">Responsable comptable</span></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render 'shared/numbers' %>
<%= render 'shared/backgroundform' %>
