<div class="banner-desktop">
  <div style="height: 13vh;"></div>
  <div style="font-size: 14px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px;">
    À la suite des dernières annonces gouvernementales qui imposent de nouvelles mesures restrictives visant à endiguer la propagation du virus COVID19, notre Cabinet fonctionne aujourd'hui en service restreint, nous faisons notre possible pour assurer la continuité du service.

    Vous pouvez joindre vos interlocuteurs sur leurs numéros habituels qui travaillent depuis leurs domiciles.

    Nos bureaux resteront quant à eux fermés pour une période encore indéterminée.

    Tous les secteurs d'activité allant inévitablement être impactés par cette crise sanitaire sans précédent, nous ferons tout notre possible pour traiter les situations d'urgence (fuites d'eau, engorgements, pannes de chauffage,...) dans la limite des possibilités qui nous seront offertes par nos prestataires et les pouvoirs publics.

    Cette période allant être particulièrement perturbée pour nos équipes et l'ensemble de la population, nous comptons sur votre compréhension pour différer vos demandes non-urgentes et privilégier autant que possible la communication par mails.

    Le fonctionnement du courrier pour les semaines à venir risque par ailleurs d'être très incertain.

    Soyez assurés que l'ensemble de nos collaborateurs restent mobilisés pour vous accompagner au mieux dans le cadre de la gestion de cette crise.
  </div>
  <div class="height-75vh d-flex align-items-center" style="background-image: url('<%= image_path "republique.png" %>'); background-size: cover; background-position: center top;">
    <div class="col-5 p-5 " style="background-color: rgba(11, 62, 77, 0.7)">
      <h1 class="text-color-white mb-5 font-weight-400">L'exigence de la qualité</h1>
      <h4 class="text-color-white font-weight-100 small-text-line-height">Société spécialisée en gestion locative de locaux commerciaux et habitations en région parisienne depuis 35 ans.</h4>
    </div>
  </div>
  <div class="cta-menu height-12vh">
    <div class="row mx-5">
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_gestion_locative_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-crimson">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Gestion<br>locative</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_devenir_locataire_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-amaranth">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Devenir<br>locataire</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_vendre_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-light-carmine-pink">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Vendre<br>un bien</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_acheter_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-ruddy-pink">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Acheter<br>un bien</h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
