<div class="height-100vh d-flex flex-column" style="background-image: url('<%= image_path "glf0.png" %>'); background-size: cover; background-position: center; margin-top: -100px; padding-left: 20px; padding-right: 20px;">
  <div class="px-4 py-5 background-color-warm-black" style= "margin-top: 150px !important;">
    <h1 class="text-color-white mb-4 font-weight-400">L'exigence de la qualité</h1>
    <h4 class="text-color-white font-weight-100">Société spécialisée en gestion locative des locaux commerciaux et habitations en région parisienne depuis plus de 35 ans.</h4>
  </div>

  <div class="cta-menu container my-5">
    <div class="row">
      <div class="col-6 p-0">
        <%= link_to services_gestion_locative_path do %>
          <div class="background-color-white box-shadow-two-black px-5 py-4 mr-2 mb-2 d-flex justify-content-center border-top-5px-crimson">
            <h2 class="font-size-16px">Gestion<br>locative</h3>
          </div>
        <% end %>
      </div>
      <div class="col-6 p-0">
        <%= link_to services_devenir_locataire_path do %>
          <div class="background-color-white box-shadow-two-black px-5 py-4 ml-2 mb-2 d-flex justify-content-center border-top-5px-amaranth">
            <h2 class="font-size-16px">Devenir<br>locataire</h3>
          </div>
        <% end %>
      </div>
      <div class="col-6 p-0">
        <%= link_to services_vendre_path do %>
          <div class="background-color-white box-shadow-two-black px-5 py-4 mr-2 mt-2 d-flex justify-content-center border-top-5px-light-carmine-pink">
            <h2 class="font-size-16px">Vendre<br>un bien</h3>
          </div>
        <% end %>
      </div>
      <div class="col-6 p-0">
        <%= link_to services_acheter_path do %>
        <div class="background-color-white box-shadow-two-black px-5 py-4 ml-2 mt-2 d-flex justify-content-center border-top-5px-ruddy-pink">
          <h2 class="font-size-16px">Acheter<br>un bien</h3>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


