<div class="banner-desktop">
  <div class="height-13vh"></div>
  <div class="height-75vh d-flex align-items-center" style="background-image: url('<%= image_path "republique.png" %>'); background-size: cover; background-position: center;">
    <div class="col-5 p-5 " style="background-color: rgba(11, 62, 77, 0.7)">
      <h1 class="text-color-white mb-5 font-weight-400">L'exigence de la qualité</h1>
      <h4 class="text-color-white font-weight-100 small-text-line-height">Société spécialisée en gestion locative de locaux commerciaux et habitations en région parisienne depuis 35 ans.</h4>
    </div>
  </div>
  <div class="cta-menu height-12vh">
    <div class="row mx-5">
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_gestion_locative_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-crimson">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Gestion<br>locative</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_devenir_locataire_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-amaranth">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Devenir<br>locataire</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_vendre_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-light-carmine-pink">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Vendre<br>un bien</h4>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-3 px-4 pt-auto hover-cta">
        <%= link_to services_acheter_path do %>
          <div class="background-color-white box-shadow-two-black padding-5-l-r py-4 d-flex justify-content-center border-top-5px-ruddy-pink">
            <h4 class="font-weight-500 text-center text-color-charleston-green m-0">Acheter<br>un bien</h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
