<footer class="page-footer px-5 pt-5 background-color-warm-black text-color-glf-white">
  <div class="container-fluid text-center text-md-left pt-5">
    <div class="row pb-4">
      <div class="col-md-2 mt-md-0 pl-0 pr-0">
        <div class="col-md-12 mt-md-0 mt-3 pl-0 pr-0">
          <div class="float-left card-img-top">
            <%= image_tag "logoglf.png", style: "width: 50px; height: 50px;" %>
          </div>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-10 mt-md-0">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="font-weight-500 mb-4">Contact</h5>
            <ul class="list-unstyled">
              <li>
                <p class="mb-0">19 place de la république, 75003, Paris</p>
              </li>
              <li>
                <p class="mb-0">Tel : 01 44 18 18 18</p>
              </li>
              <li>
                <%= link_to "contact@glf.com", "mailto:contact@glf.com", class: "mb-0 text-color-white" %>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="font-weight-500 mb-4">L'entreprise</h5>
            <ul class="list-unstyled">
              <li>
                <%= link_to "Qui sommes-nous ?", a_propos_path %>
              </li>
              <li>
                <%= link_to "Contact", contact_path %>
              </li>
              <li>
                <%= link_to "Recrutement", recrutement_path %>
              </li>
              <li>
                <%= link_to "Copropriété", syndic_path %>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="font-weight-500 mb-4">Les services</h5>
            <ul class="list-unstyled">
              <li>
                <%= link_to "Gestion locative", services_gestion_locative_path %>
              </li>
              <li>
                <%= link_to "Devenir locataire", services_devenir_locataire_path %>
              </li>
              <li>
                <%= link_to "Vendre un bien", services_vendre_path %>
              </li>
              <li>
                <%= link_to "Acheter un bien", services_acheter_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-right pt-4 pb-5 border-white-top">
    <h6 class="font-weight-100">Cartes professionnelles CPI7501 2016 000 013860 délivrées par CCI Paris Ile de France
  <br>Garantie Compagnie Européenne de Garanties et Caution 16 rue Hoche – Tour Kupka B – TSA 39999 – 92919 La Défense Cedex</h6>
  </div>
</footer>
