<div class="navbar background-color-white px-5 py-0 width-100pc height-16vh">
  <%= link_to root_path do %>
    <div class="d-flex mt-3">
        <%= image_tag "logoglf.png", class: "logo-50px" %>
        <h1 class="font-family-applemyungjo pl-2">glf</h1>
    </div>
  <% end %>

  <div class="d-flex justify-content-between align-items-center width-45pc">

    <div class="dropdown">
      <p class="m-0 font-weight-100 text-color-charleston-green">Les services <span class="ml-1 text-color-crimson"><i class="fas fa-chevron-down"></i></span></p>
      <div class="dropdown-content box-shadow-two-black mt-2 ml-n5">
        <%= link_to "Gestion locative", services_gestion_locative_path, class: "text-color-warm-black" %>
        <%= link_to "Devenir locataire", services_devenir_locataire_path, class: "text-color-warm-black" %>
        <%= link_to "Vendre", services_vendre_path, class: "text-color-warm-black" %>
        <%= link_to "Acheter", services_acheter_path, class: "text-color-warm-black"  %>
      </div>
    </div>

    <div class="dropdown">
      <p class="m-0 font-weight-100 text-color-charleston-green">L'entreprise <span class="ml-1 text-color-crimson"><i class="fas fa-chevron-down"></i></span></p>
      <div class="dropdown-content box-shadow-two-black mt-2 ml-n5">
        <%= link_to "Qui sommes-nous ?", a_propos_path, class: "text-color-warm-black" %>
        <%= link_to "Contact", contact_path, class: "text-color-warm-black" %>
        <%= link_to "Recrutement", recrutement_path, class: "text-color-warm-black" %>
      </div>
    </div>

    <div class="">
      <a href="https://www.orchestrav2.egiweb.net" target="blank"><p class="m-0 font-weight-100  extranethover">Extranet</p></a>
    </div>

    <%= link_to contact_path do %>
      <div class="button-crimson-nav2">
        <p class="m-0 font-weight-500">Nous contacter</p>
      </div>
    <% end %>
  </div>
</div>

<!-- MOBILE NAVBAR -->

<div class="navbar-mobile d-flex align-items-center justify-content-between px-4 background-color-transparent">
  <%= link_to root_path do %>
    <div class="d-flex mt-3">
        <%= image_tag "logoglf.png", class: "logo-50px" %>
        <h1 class="font-family-applemyungjo pl-2">glf</h1>
    </div>
  <% end %>

  <div id="myNav" class="text-color-crimson font-size-24px"><i class="fas fa-bars"></i></div>
</div>

<!-- SIDENAV -->

<div class="overlay background-color-warm-black">

  <!-- Button to close the overlay navigation -->
  <div class="close text-color-white pr-4 pt-4"><i class="fas fa-times"></i></div>

  <!-- Overlay content -->
  <div class="overlay-content d-flex flex-column align-items-center">

    <div class="mb-2">
      <h2 class="text-color-white">Les services</h2>
      <%= link_to services_gestion_locative_path do %>
        <h4 class="text-color-white m-0">Gestion locative</h4>
      <% end %>
      <%= link_to services_devenir_locataire_path do %>
        <h4 class="text-color-white m-0">Devenir locataire</h4>
      <% end %>
      <%= link_to services_vendre_path do %>
        <h4 class="text-color-white m-0">Vendre</h4>
      <% end %>
      <%= link_to services_acheter_path do %>
        <h4 class="text-color-white m-0">Acheter</h4>
      <% end %>
    </div>

    <div>
      <h2 class="text-color-white ">L'entreprise</h2>
      <%= link_to a_propos_path do %>
        <h4 class="text-color-white m-0">Qui sommes-nous?</h4>
      <% end %>
      <%= link_to contact_path do %>
        <h4 class="text-color-white m-0">Contact</h4>
      <% end %>
      <%= link_to recrutement_path do %>
        <h4 class="text-color-white m-0">Recrutement</h4>
      <% end %>
      <a href="https://www.orchestrav2.egiweb.net" target="blank"><h4 class="text-color-white m-0">Extranet</h4></a>
    </div>
  </div>

</div>

