<div style="height: 13vh;"></div>

<!-- div verte avec titre et tagline principale -->

<div class="mt-5 background-color-ghost-white text-center padding-5-t-b">
  <h1 class="text-color-charleston-green pt-5 pb-4 font-weight-400">Qui sommes nous ?</h1>
  <div class="text-color-outer-space pb-5 tagline-top">
    <h4 class="font-weight-100 padding-5-l-r-none-small">Depuis plus de 35 ans, nous accompagnons nos clients et gérons pour eux la location de leur bien en région parisienne. Nous réalisons également la gestion de copropriétés ainsi que la vente de biens immobiliers. </h4>
  </div>
</div>

<!-- div avec les cases -->

<div class="my-5 mx-5 py-5">
  <div class="text-center">
    <h3 class="text-color-warm-black">Une expertise globale</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-12 col-lg-4 col-xl-4 text-center py-5 padding-5-l-r">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12">
            <div class="float-left card-img-top">
              <%= image_tag "building.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Patrimoniale</h4>
        <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4">Estimations, arbitrages, suggestion de produits, gestion des risques, transmission …</h5>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-lg-4 col-xl-4 text-center py-5 padding-5-l-r">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12">
            <div class="float-left card-img-top">
              <%= image_tag "coins.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Fiscale</h4>
        <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4">Déclarations de revenu, ISF, défiscalisation …</h5>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-12 col-lg-4 col-xl-4 text-center py-5 padding-5-l-r">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12">
            <div class="float-left card-img-top">
              <%= image_tag "contract.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Juridique</h4>
        <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4"> Diagnostics, création de personnes morales …</h5>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-lg-4 col-xl-4 text-center py-5 padding-5-l-r">
      <div class="text-center background-color-cases px-3 py-2 box-shadow-two-black h-100">
        <div class="row my-4">
          <div class="col-md-12">
            <div class="float-left card-img-top">
              <%= image_tag "financial.png", style: "width: 70px; height: 70px;" %>
            </div>
          </div>
        </div>
        <h4 class="text-color-charleston-green font-weight-500 mb-3 mt-4">Financière</h4>
        <h5 class="text-color-outer-space font-weight-100 mt-3 mb-4">Montages de prêts, placements …</h5>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/numbers' %>
